---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Here are some of the recent courses that I have taught as an instructor. 
Some of these are recurring courses so the schedules are likely to be updated according the term.

Inside you'll find weekly topics and some references to further understand the concepts. 
It is my hope that these will be useful for my students even when they complete the courses, 
or for those of you who are interested in any of the topics.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
